// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass

.top-image {
    height: 100%; 
    width: 75px; 
    object-fit: cover;
}

.standard-image {
    height: 100%; 
    width: 60px; 
    object-fit: cover;
    display: block;
    margin: auto;  
    margin-bottom: var(--pf-global--spacer--md);
}

.portfolio-flex {
    padding-top: var(--pf-global--spacer--md);
    padding-bottom: var(--pf-global--spacer--md);
}

.flex-box {
    margin-right: 0;
    padding-right: 0;
    flex: 5;
}

.body-flex {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.flex-image {
    flex: 2;
    max-height: "100%";
    max-width: "100%";
    margin-right: var(--pf-global--spacer--md);
    margin-bottom: var(--pf-global--spacer--md);
    height: "100%";
    width: "100%";
    object-fit: 'cover';
    margin-left: var(--pf-global--spacer--sm);
    padding: '0px';
}

@media screen and (max-width: 480px) {
    .body-flex {
        flex-direction: column !important;
        align-items: start;
    }
    .flex-box {
        margin-right: var(--pf-global--spacer--sm);
        padding-right: var(--pf-global--spacer--sm);
    }
    .flex-image {
        width: 75%;
        height: auto;
        padding-left: var(--pf-global--spacer--sm);
    }
    .title-card-right-flex {
        margin: 0 0 0 0 !important;
    }
    .subscription-card-margin {
        margin-right: var(--pf-global--spacer--md);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .body-flex {
        flex-direction: column !important;
        align-items: start;
    }
    .flex-box {
        margin-right: var(--pf-global--spacer--xs);
        padding-right: var(--pf-global--spacer--xs);
    }
    .flex-image {
        width: 85%;
        height: auto;
        padding-left: var(--pf-global--spacer--sm);
    }
    .title-card-right-flex {
        margin: 0 0 0 0 !important;
    }
    .subscription-card-margin {
        margin-right: var(--pf-global--spacer--md);
    }
}
  
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .flex-box {
        flex-basis: 33.33%;
        flex: 4
    }
    .flex-image {
        flex-basis: 33.33%;
        max-height: 400px;
        flex: 1;
    }
    .title-card-right-flex {
        flex: 10 !important;
    }
    .divider {
        margin: var(--pf-global--spacer--lg) 0px var(--pf-global--spacer--lg) var(--pf-global--spacer--sm) !important; 
    }
}
  
@media screen and (min-width: 1200px) {
    .flex-box {
        flex: 4;
    }
    .flex-image {
        flex: 2;
    }
    .title-card-right-flex {
        flex: 12 !important;
    }
}

@media screen and (min-width: 1500px) {
    .flex-box {
        flex: 4;
    }
    .flex-image {
        flex: 1;
    }
    .divider {
        margin: var(--pf-global--spacer--lg) 0px var(--pf-global--spacer--lg) 0px !important; 
    }
}

.list-items {
    padding-left: var(--pf-global--spacer--lg);
}

.subscription-flex {
    display: 'flex';
    flex-wrap: 'nowrap';
    align-items: 'start';
}

.title-card-left-flex {
    margin: var(--pf-global--spacer--lg) var(--pf-global--spacer--sm) var(--pf-global--spacer--lg) var(--pf-global--spacer--md);
    flex: 1;
}

.title-card-right-flex {
    margin-right: var(--pf-global--spacer--md);
    flex: 8;
}

.divider {
    margin: var(--pf-global--spacer--lg) 0px var(--pf-global--spacer--lg) var(--pf-global--spacer--md);
}
